{% extends "tensorgym/base.html" %} {% block content %}
<h1>TensorGym</h1>

<form action="/about/" method="post">
    {% csrf_token %}
    <p><input id="instructions" type="submit" value="Instructions">
</form>

<h2>Input</h2>

<form action="/" method="post">
    {% csrf_token %}
    <input type="button" value="Reset" onClick="this.form.reset()" />
    <p><label for="equation">Input Equation </label> {{ form.equation }}
    </p>
    <p>
        {{ form.initial_eq }}
        <label>include initial equaion in output?</label>
        <br>{{ form.text_statements }}
        <label>include short description in output?</label>
        <br><br>
        <label>(optional) comma-separated list of semmetric tensor symbols (eg. h, T)</label> {{ form.symmetric_tensors }}
    </p>
    <h3>
        Multiply
    </h3>
    <p>
        {{ form.foil }}
        <label for="foil">FOIL out terms, distributing derivatives when necessary (recommended)</label>
        <br>{{ form.distribute_partials }}
        <label for="foil">distribute partial derivatives</label>
        <br>{{ form.foil_no_distribute }}
        <label for="foil">FOIL out terms without distributing derivatives</label>
    </p>
    <h3>
        Contract
    </h3>

    {{ form.contract_both }}
    <label>contract etas and deltas</label>
    <br>{{ form.contract_deltas }}
    <label>contract only deltas</label>
    <br>{{ form.contract_etas }}
    <label>contract only etas</label>
    <h3>
        Factor
    </h3>

    {{ form.factor_gcf }}
    <label>factor out GCF</label>
    <br>{{ form.factor_term }}
    <label>factor out user specified term</label>
    <br><label> term to factor</label> {{ form.term_to_factor }}
    <h3>
        Replace
    </h3>

    {{ form.replace_indices }}
    <label>replace indices</label>
    <br> <label>indices to replace, list: </label> {{ form.indices_to_replace }}<label>replacement indices, list: </label> {{ form.replacement_indices }}
    <br><br>{{ form.replace_terms }}
    <label>replace terms</label>
    <br> <label>term to replace: </label> {{ form.term_to_replace }} <label>replacement term: </label> {{ form.replacement_term }}
    <h3>
        Sort
    </h3>

    {{ form.combine_like_terms_num }}
    <label>combine like terms differing only by a numerical factor</label>
    <br>{{ form.combine_like_terms }}
    <label>combine like terms differing by any (numerical or symbolic) coefficient</label>
    <br>{{ form.sort_each }}
    <label>sort the tensors in each term by number of derivatives (least to greatest)</label>
    <br>{{ form.sort_terms }}
    <label>sort terms by number of derivatives (least to greatest)</label>


    <p><input id="compute" type="submit" value="Compute">
        <!-- <label for="output"> Output </label> {{ form.output_equation }} -->
    </p>
</form>

<!-- <h2>
    Multiply
</h2>

<h4>
    <form action="" method="post">
        <input type="submit" value="OK" <label for="FOIL">FOIL out terms, distributing derivatives when necessary (recommended)</label>
    </form> 
    <button type="button">Click Here</button> FOIL out terms, distributing derivatives when necessary (recommended)
</h4>
<h4>
    <button type="button">Click Here</button> distribute partial derivatives
</h4>
<h4>
    <button type="button">Click Here</button> FOIL out terms without distributing derivatives
</h4>

<h2>
    Contract
</h2>

<h4>
    <button type="button">Click Here</button> contract etas and deltas
</h4>
<h4>
    <button type="button">Click Here</button> contract only deltas
</h4>
<h4>
    <button type="button">Click Here</button> contract only etas
</h4>

<h2>
    Factor
</h2>

<h4>
    <button type="button">Click Here</button> factor out GCF
</h4>
<h4>
    <button type="button">Click Here</button> factor out user specified term <input type="text" name="user_specified_term" size="40" placeholder="term to factor"><br>
</h4>

<h2>
    Replace
</h2>

<h4>
    <button type="button">Click Here</button> replace indices
    <input type="text" name="indices_to_replace" size="30" placeholder="indices to replace, list">
    <input type="text" name="replacement_indices" size="30" placeholder="replacement indices, list"><br>
</h4>
<h4>
    <button type="button">Click Here</button> replace terms
    <input type="text" name="term_to_replace" size="30" placeholder="term to replace">
    <input type="text" name="replacement_term" size="30" placeholder="replacement term"><br>
</h4>

<h2>
    Sort
</h2>

<h4>
    <button type="button">Click Here</button> combine like terms differing only by a numerical factor
</h4>
<h4>
    <button type="button">Click Here</button> combine like terms differing by any (numerical or symbolic) coefficient
</h4>
<h4>
    <button type="button">Click Here</button> sort the tensors in each term by number of derivatives (least to greatest)
</h4>
<h4> -->
<!-- <button type="button">Click Here</button> sort terms by number of derivatives (least to greatest)
</h4> -->
{% endblock content %}