body {
    background-color: rgb(183, 231, 205);
}
div {
    margin-left: 50px;
}
/* p {
    margin-left: 50px;
} */

h1 {
    /* color: #C25100; */
    /* margin-left: 50px; */
    /* font-family: 'Lobster'; */
}